:root {
    --skin-color: #c00;
}


.services_archive_description_text{
    overflow-y: auto;
    height: 118px;
    
}

.services_archive_description_text::-webkit-scrollbar {
  width: 5px;
}

.services_archive_description_text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.services_archive_description_text::-webkit-scrollbar-thumb {
  background-color: #172446;
  outline: 1px solid slategrey;
  border-radius: 20px;
}